a:link {
	color: #blue;
	text-decoration:none;
}
a:visited {
	color: #009;
	text-decoration:none;
}
a:hover {
	color: #669;
	text-decoration:none;
}
a:active {
	color: #669;
	text-decoration:none;
}
a:link[class="navbar"] {
	color: #fff;
	text-decoration:none;
}
a:visited[class="navbar"] {
	color: #fff;
	text-decoration:none;
}
a:hover[class="navbar"] {
	color: #000;
	text-decoration:none;
}
a:active[class="navbar"] {
	color: #0cc;
	text-decoration:none;
}
body {
	margin: 0;
	background-color: #fff;
}
table {
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 0em;
	padding-right: 0em;
	border-bottom: 1px solid #099;
}
th {
	width: 9em;
	font-weight: bolder;
	padding-right: 2em;
	padding-bottom: 0.6em;
}
.announcement {
	background-color: white;
	padding: 1em;
	border: 1px solid grey;
}
.code {
   font-size: 1.2em;
   line-height: 1.3em;
}
.green-box {
	padding: 0em;
	text-align: center;
	font-size: 1.2em;
	font-weight: normal;
	font-variant: small-caps;
	color: #fff;
	background-color: #099;
}
.navbar {
	color: white;
	font-variant: small-caps;
	font-weight: normal;
	font-size: 1em;
	padding-right: 2em;
}
.property-index {
	margin-top: 0;
	background-color: #ddd;
	padding: 1em;
	margin-bottom: 3em;
	border: 3px solid white;
}
#container {
	#width: 99%;
	margin: 0;
	border: 0;
	color: #333;
	line-height: 130%;
}
#top {
	padding-left: 3em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background-color: #669;
	border-bottom: 1px solid gray;
}
#top h1 {
	padding: 0;
	margin: 0;
	color: #fff;
	display:inline;
}
#leftnav {
	margin-top: 2em;
	float: left;
	width: 80px;
	#border: 1px solid grey;
}
#rightnav {
	float: right;
	width: 160px;
	margin: 0;
	padding: 1em;
	#border: 1px solid grey;
}
#content {
	margin-top: 2em;
	margin-left: 100px;
	border: 0;
	margin-right: 200px;
	padding: 1em;
	max-width: 36em;
}

#footer {
	clear: both;
	margin: 0;
	padding: .5em;
	border: 0;
}
#leftnav div, #rightnav div { 
	margin: 1em 1em 2em 2em; 
}
#content h2,h3 { 
	margin: 2em 0 1.5em 0; 
}
